{% extends 'base.html' %}
{% block title %}
    Recipe Book
{% endblock title %}

{% block content %}
{% block user_list %}
{% endblock user_list %}
<div class="search-div hidden">
<input types="search" onkeyup="myFilter()" class="search-bar" name="q" placeholder="Search Recipe"/> 
<i class="fa-solid fa-magnifying-glass"></i>
</div>
<select id="select-tag" class="tag-select"  onchange="tagFilter()" placeholder="Select a Tag" >
    <option selected="selected" value="" >Select a Tag</option>
    {% for tag in tags %}
    <option value="{{ tag.name }}">{{ tag.name }}</option>
    {% endfor %}
</select>
<div class="tag-list">
</div>
<p class="no-recipe hidden">No Recipes Found!</p>
<div class="recipe-list">
    {% for recipe in recipe_list %}
        <div class="recipe-card">
            <div class="recipe-image-div">
                <img class="recipe-image" src="{{ recipe.image.url }}" alt="{{ recipe.name }}"/>
            </div>
            <div class="recipe-details">
            <div class="recipe-heading">
                <p class="recipe-name"><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></p>
            </div>            
            <div class="recipe-tags">
                {% for tag in recipe.tags.all %}
                    <span class="recipe-tag">{{ tag.name }}</span>
                {% empty %}
                    <span class="recipe-tag recipe-tag-empty"> n</span>
                {% endfor %}
                
            </div>
                <p class="recipe-author"><a href="{% url 'user_recipe_list' recipe.author.username %}">{{ recipe.author.username }}</a></p>
                {% if user.is_authenticated %}
                {% if user in recipe.upvotes.all %} 
                    <a class="votes voted" id="{{ recipe.id }}" onclick="voteToggle('{{recipe.id}}')"><span>{{ recipe.upvotes.all.count }} upvote{{ recipe.upvotes.all.count|pluralize }}</span></a>
                {% else %}
                    <a class="votes" id="{{ recipe.id }}" onclick="voteToggle('{{recipe.id}}')"><span>{{ recipe.upvotes.all.count }} upvote{{ recipe.upvotes.all.count|pluralize }}</span></a>
                {% endif %}
                {% else %}
                    <a class="votes" href="{% url 'account_login' %}"><span>{{ recipe.upvotes.all.count }} upvote{{ recipe.upvotes.all.count|pluralize }}</span></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
{% block javascript %}
<script>
{% block user_list_script %}
document.getElementById('home').classList.add('nav-active');
{% endblock user_list_script %}
document.querySelector("#nav-search").classList.remove("hidden");
var container = document.querySelector('.container')
container.classList.add('container-for-auth')
var recipe_list = document.querySelector('.recipe-list');
if (recipe_list.childElementCount < 3) {
    recipe_list.classList.add('recipe-list-less')
}


document.querySelector(".search-bar").addEventListener('keydown', function(event) {
    if (event.code == 'Escape') {
        document.querySelector(".search-bar").blur();
        document.getElementById("nav-search").click(); 
    }
})


document.querySelector(".search-bar").addEventListener('click', function(event) {
    if (document.querySelector(".search-bar").hasFocus()) {
        document.getElementById("nav-search").click(); 
    }
})


document.querySelector(".search-bar").addEventListener('blur', function(event) {
    setTimeout(() => {
        if (!document.querySelector(".search-div").classList.contains("hidden")) {
            document.getElementById("nav-search").click(); 
        }
}, 500);
})



function searchToggle() {
    let search_div = document.querySelector(".search-div");
    document.getElementById("select-tag").classList.toggle("hidden");
    let list = document.querySelectorAll(".tag-select");
    let bar = document.querySelector(".search-bar");
    let i = 0;
    for (i = 0; i < list.length; ++i) {
        list[i].classList.toggle("hidden");
    }
    if (search_div.classList.contains("hidden")) {
        search_div.classList.remove("hidden");
        bar.focus();
    }
    else {
        bar.value = "";
        myFilter();
        search_div.classList.add("hidden");
    }
}



async function voteToggle(id) {
    user = "{{ user.username }}";
    if (user) {
        let voteButton = document.getElementById(id);
        let flag = 0;
        if (voteButton.classList.contains('voted')) {
            flag = 1;
        }
        let count = parseInt( voteButton.firstElementChild.innerHTML );
        if (flag == 1) {
           count--; 
        }
        else {
           count++; 
        }
        voteButton.firstElementChild.innerHTML = String(count) + (count > 1 ? " upvotes" : " upvote");
        voteButton.classList.toggle('voted');
        let url = "{% url 'vote_toggle' %}"
        let formdata = new FormData();
        formdata.append('username', '{{ user.username }}');
        formdata.append('id', id);
        if (flag) {
            formdata.append('op' , 'unlike');
        }
        else {
            formdata.append('op' , 'like');

        }
        const response = await fetch(url,
        {
        method : "POST", 
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
            mode : 'same-origin',
            body : formdata,
        });
        let data = await response.json();
    }
}

function myFilter() {
    document.querySelector('.tag-select').value = "";
    var input, filter, ul, li, a, i, txtValue, clear;
    input = document.querySelector('.search-bar');
    filter = input.value.toUpperCase();
    ul = document.querySelector(".recipe-list");
    li = document.getElementsByClassName('recipe-card');
    let flag = 0;
    for (i = 0; i < li.length; i++) {
        let name = li[i].querySelector('.recipe-name');
        txtValue = name.firstElementChild.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            flag = 1;
        } else {
            li[i].style.display = "none";
        }
        //let tag_list = li[i].querySelector('.recipe-tags');
        //let tags = tag_list.getElementsByClassName('recipe-tag');
        //for (j = 0; j < tags.length; j++) {
            //txtValue = tags[j].innerText;
            //if (txtValue.toUpperCase().indexOf(filter) > -1) {
                //li[i].style.display = "";
            //} else {
                //li[i].style.display = "none";
            //}
        //}
    }
    if (!flag) {
        document.querySelector('.no-recipe').classList.remove('hidden');
    }
    else {
        document.querySelector('.no-recipe').classList.add('hidden');
    }
}

function tagFilter() {
    document.querySelector('.search-bar').value = "";
    var input, filter, ul, li, a, i, txtValue, clear;
    input = document.querySelector('.tag-select');
    filter = input.value.toUpperCase();
    console.log(filter);
    ul = document.querySelector(".recipe-list");
    li = document.getElementsByClassName('recipe-card');
    let flag = 0, temp = 0;
    for (i = 0; i < li.length; i++) {
            let tag_list = li[i].querySelector('.recipe-tags');
            let tags = tag_list.getElementsByClassName('recipe-tag');
            temp = 0;
            for (j = 0; j < tags.length; j++) {
                txtValue = tags[j].innerText.toUpperCase();
                console.log(txtValue);
                if (txtValue.indexOf(filter) > -1) {
                    flag = 1;
                    temp = 1;
                } 
            }
            if (temp) {
                li[i].style.display = "";
            }
            else {
                li[i].style.display = "none";
            }
    }
    if (!flag) {
        document.querySelector('.no-recipe').classList.remove('hidden');
    }
    else {
        document.querySelector('.no-recipe').classList.add('hidden');
    }
}

new TomSelect("#select-tag",{
    create: false,
    sortField: {
        field: "text",
        direction: "asc"
    }
});


</script>


{% endblock javascript %}

