{% extends 'home.html' %}
{% block title %}
    {{recipe_user.username }}'s Recipe Book
{% endblock title %}
{% block user_list %}
<h1 class="recipe-user-heading"> {{recipe_user.username}} 's <span class="recipe-span">Recipe Book</span></h1>
{% if user.username == recipe_user.username %}
<a class="add-recipe-btn" href="{% url 'recipe_create' %}"><button>Add a New Recipe</button></a>
{% endif %}
{% endblock user_list %}
{% block user_list_script %}
var myIng = document.getElementById('my-recipe');
let recipe_user = "{{ recipe_user.username }}"
let user = "{{ user.username }}"
if (user == recipe_user) {
    myIng.classList.add('nav-active')
}
{% endblock user_list_script %}

